<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    <td>Todo.name</td>
                    <td>Todo.name</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
 -->
<app-home></app-home>
  